nav .btns{
    width: fit-content;
    margin: 0 auto;
}

button{
background-color: rgb(238, 237, 180);
color: darkslategray;
margin: 0 5px;
border-style: initial;
}

button:hover{
    border-style: groove;
    background-color: rgb(243, 217, 133);
    scale: 1.05;
}

h1{
    text-align: center;
}
body{
background-color: rgb(245, 234, 189);
}

